html{
    scroll-behavior:smooth;
}
.bg-ateeq, .btn-ateeq{
    background-color: #015445;
}

.text-ateeq{
    color: #015445;
}

.carousel .carousel-indicators li{
    width: 30px;
    height: 5px;
    border-radius: 0%;
}

@media (max-width: 576px) {
    .carousel-caption{
        bottom: 20%;
    }
    .carousel-caption p{
        display: none;
    }
    .carousel-caption h5{
        font-size: 20px;
    }
}